* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #060ab2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memory-game {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 640px;
  height: 640px;
  perspective: 1000px;
  padding: 30px 0;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  background: cornflowerblue;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/* Modal */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible !important;
  opacity: 100 !important;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 150px auto;
  padding: 20px 20px 50px;
  background: #ffffff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  padding: 30px;
  text-align: center;
}

.popup .content {
  padding: 0 0 30px;
  overflow: auto;
  text-align: center;
}

#play-again {
  background-color: #141214;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
  width: 50%;
  color: #ffffff;
  border-radius: 5px;
}